.site-nav {
    background: #3b3c40;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.site-nav > ul {
    display: flex;
    justify-content: center;
    padding: 0.6em;
    align-self: flex-end;
}

.site-nav li {
    list-style: none;
    margin: 0 3.5em;
}

.site-nav i {
    font-size: 32px;
    padding: 0 0.5em;
    color: black;
}

.site-nav a {
    display: block;
    color: black;
    border-radius: 0.3em;
    padding: 0.3em 0.4em 0.3em 0.1em;
    background: gray;
}

.site-nav a:hover {
    background: #a11b1b;

}




