---
layout: main
title: Events
permalink: /events/
icon-class: fas fa-calendar-check
aside: false
---

<section class="events-section">
    <header class="content-header">
        <span class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae illo temporibus ipsa, repudiandae quod
            perferendis iure odio autem qui dolores odit illum, quidem officiis tempora officia accusamus modi, cum
            doloribus!
        </span>
    </header>
    <main class="events-main">
        <hr>
        {% include photo-gallery.html %}

        {% include upcoming-events.html %}
    </main>
</section>