<section class="show">
    <header class="show-header">
        <h2>Show episodes</h2>
        <span class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe facere magnam at illum esse voluptas aut
            eligendi totam blanditiis modi. Nihil sunt aspernatur aut ad aliquid quis ullam sit labore.
        </span>
    </header>
    <main class="show-main">
        <ul class="videos">
            <li>
                <iframe width="700" height="450" src="https://www.youtube.com/embed/tdVpppx-vhQ">
                </iframe>
                <div class="video-description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam blanditiis deleniti nihil dicta
                    eius repudiandae quam nesciunt quidem voluptatum commodi inventore.eius repudiandae quam nesciunt
                    quidem voluptatum commodi inventore.
                </div>
            </li>
            <li>
                <iframe width="700" height="450" src="https://www.youtube.com/embed/aEk0X0V05DE">
                </iframe>
                <div class="video-description">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam blanditiis deleniti nihil dicta
                    eius repudiandae quam nesciunt quidem voluptatum commodi inventore.eius repudiandae quam nesciunt
                    quidem voluptatum commodi inventore.
                </div>
            </li>
        </ul>
    </main>
</section>