<div class="upcoming-events">
    <span class="upcoming-events-title">
        <h2>UPCOMING EVENTS</h2>
    </span>
    <span class="events-description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus non placeat minus, adipisci commodi cum
        rerum laborum numquam inventore voluptate? Reprehenderit dolores rerum vitae aut nihil? Nisi dignissimos placeat
        id!
    </span>
    <div class="events-slider">
        <div class="event">
            <a href="#">
                <img src="/images/upcoming-events/1.jpg" alt="">
            </a>
        </div>
        <div class="event">
            <a href="#">
                <img src="/images/upcoming-events/2.jpg" alt="">
            </a>
        </div>
        <div class="event">
            <a href="#">
                <img src="/images/upcoming-events/3.jpg" alt="">
            </a>
        </div>
        <div class="event">
            <a href="#">
                <img src="/images/upcoming-events/4.jpg" alt="">
            </a>
        </div>
    </div>
</div>