.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    max-width: var(--about-description-max-characters, 65ch);
    vertical-align: middle; 
    text-align: center; 
    background: var(--about-description-background-color, black);
}

.about-artist {
    background: var(--about-artist-background-color, rgb(89,85,85, 0.7));
    color: var(--about-artist-text-color, black);
    margin: 1.5em 0;
    border-radius: 0.4em;
}

.artist-main {
    display: flex;
}

.artist-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0 1em 0;
}

.about-artist img {
    height: var(--about-artist-image-height, 17em);
    width: var(--about-artist-image-width, 15em);
    margin: 0 2em;
    border-radius: 0.4em;
    border: 5px solid black;
}

.artist-content {
    margin-top: -5em;
    padding-right: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.artist-content p {
    max-width: var(--about-artist-content-max-characters, 80ch);
}

.artist-info-items {
    margin-top: -5em;
    display: flex;
    justify-content: flex-end;
}

.artist-info-items li {
    display: flex;
    list-style: none;
    margin: 0 3em;
    padding-right: 4em;
}

.artist-info-items li:not(:last-child){
    border-right: 3px solid black;
}

.artist-info-items i {
    font-size: 2.5em;
}

.artsit-links-items {
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
}

.artsit-links-items li {
    list-style: none;
    margin: 0 0.1em;
    padding: 0.5em;
    display: block;
}

.info-items-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    justify-content: center;
    align-items: center;
}

.info-items-wrapper p {
    padding: 0;
}

.artsit-links-items {
    margin-bottom: 0;
    padding-bottom: 0;
}

.artsit-links-items i {
    font-size: 1.2em;
    padding: 1em;
    
}

.artsit-links-items a {
    color: var(--artsit-links-items-color, black);
    padding: 0.3em 0.6em 0.3em 0.6em;
    border-radius: 0.8em;
    background: var(--artsit-links-items-background, gray);
    border: 2px solid black;
}


