.index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

.index-header h2 {
    background: black;
    padding-bottom: 0.5em;
    border-bottom: 3px solid #a39d87;
}

.header-content {
    display: flex;
    justify-content: center;
    max-width: 80ch;
    background: black;
    text-align: center; 
    margin-bottom: 1.5em;
}

.header-content p { 
    padding: 0;
}

hr {
    height: 0.4em;
    background: #910205;
    border: 0.13em solid black;
}

.recent-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 4em;
}

.recent-events-title h2{
    background: black;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #910205; 
}

.events-description{
    background: black;
    max-width: 70ch;
}

.events-slider{
    width: 70%;
    margin: 2em 3em 0em 3em; 
}

.event {
    min-height: 10em;
    min-width: 10em;
}

.event img {
    height: 15em;
    width: 15em;
}

.event a {
    display: block;
    height: 15em;
    width: 15em;
}

.event .slick-slide{
    margin: 0 3em;
}

.main-content {
    margin-top: -1em;
}

