<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/scripts/site.js"></script>
    <script src="../slick-1.8.1/slick-1.8.1/slick/slick.min.js"></script>
    <script src="../scripts/slick.js"></script>
    <title>{{site.title}}</title>
</head>
<body>
    <div class="site">
        <header class="site-header">

            {% if page.home == true %}
                <h1 class="site-title">
                    <a href="{{ site.baseurl }}/">{{site.title}}</a>
                </h1>
            {% else %}
                <p class="site-title">
                    <a href="{{ site.baseurl }}/">{{site.title}}</a>
                </p>
            {% endif %}

            {% include navigation.html %}

        </header>

        <main class="site-main">

            <div class="site-main-title">
                {% if page.title %}
                <h1>{{ page.title }}</h1>
                {% endif %}
            </div>

            {{content}}

        </main>

        {% include sidebar.html %}
        
        <footer class="site-footer">
            {% include footer.html %}
        </footer>
    </div>

</body>
</html>